// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    physical_layout_0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs  100 100  1	  83     0     0     0>
			, <&key_physical_attrs	100	100	108	-100	0	0	0>
			, <&key_physical_attrs	100	100	220	-168	0	0	0>
			, <&key_physical_attrs	100	100	333	-115	0	0	0>
			, <&key_physical_attrs	100	100	433	-84	0	0	0>
			, <&key_physical_attrs	100	100	536	-100	0	0	0>
			, <&key_physical_attrs	100	100	1374	-100	0	0	0>
			, <&key_physical_attrs	100	100	1477	-100	0	0	0>
			, <&key_physical_attrs	100	100	1577	-116	0	0	0>
			, <&key_physical_attrs	100	100	1690	-85	0	0	0>
			, <&key_physical_attrs	100	100	1802	-32	0	0	0>
			, <&key_physical_attrs	100	100	1910	-100	0	0	0>
			, <&key_physical_attrs	100	100	0	6	0	0	0>
			, <&key_physical_attrs	100	100	111	-100	0	0	0>
			, <&key_physical_attrs	100	100	227	-169	0	0	0>
			, <&key_physical_attrs	100	100	344	-115	0	0	0>
			, <&key_physical_attrs	100	100	448	-83	0	0	0>
			, <&key_physical_attrs	100	100	554	-100	0	0	0>
			, <&key_physical_attrs	100	100	1356	-100	0	0	0>
			, <&key_physical_attrs	100	100	1462	-101	0	0	0>
			, <&key_physical_attrs	100	100	1566	-116	0	0	0>
			, <&key_physical_attrs	100	100	1683	-85	0	0	0>
			, <&key_physical_attrs	100	100	1799	-31	0	0	0>
			, <&key_physical_attrs	100	100	1910	-100	0	0	0>
			, <&key_physical_attrs	100	100	0	13	0	0	0>
			, <&key_physical_attrs	100	100	113	-100	0	0	0>
			, <&key_physical_attrs	100	100	230	-169	0	0	0>
			, <&key_physical_attrs	100	100	348	-114	0	0	0>
			, <&key_physical_attrs	100	100	453	-85	0	0	0>
			, <&key_physical_attrs	100	100	560	-99	0	0	0>
			, <&key_physical_attrs	100	100	1350	-100	0	0	0>
			, <&key_physical_attrs	100	100	1457	-101	0	0	0>
			, <&key_physical_attrs	100	100	1562	-115	0	0	0>
			, <&key_physical_attrs	100	100	1680	-86	0	0	0>
			, <&key_physical_attrs	100	100	1798	-31	0	0	0>
			, <&key_physical_attrs	100	100	1910	-100	0	0	0>
			, <&key_physical_attrs	100	100	0	14	0	0	0>
			, <&key_physical_attrs	100	100	111	-100	0	0	0>
			, <&key_physical_attrs	100	100	227	-169	0	0	0>
			, <&key_physical_attrs	100	100	344	-114	0	0	0>
			, <&key_physical_attrs	100	100	448	-85	0	0	0>
			, <&key_physical_attrs	100	100	554	-99	0	0	0>
			, <&key_physical_attrs	100	100	1356	-100	0	0	0>
			, <&key_physical_attrs	100	100	1462	-101	0	0	0>
			, <&key_physical_attrs	100	100	1566	-115	0	0	0>
			, <&key_physical_attrs	100	100	1683	-86	0	0	0>
			, <&key_physical_attrs	100	100	1799	-31	0	0	0>
			, <&key_physical_attrs	100	100	1910	-100	0	0	0>
			, <&key_physical_attrs	100	100	554	-12	0	0	0>
			, <&key_physical_attrs	100	100	657	-100	0	0	0>
			, <&key_physical_attrs	100	100	220	-150	0	0	0>
			, <&key_physical_attrs	100	100	333	-114	0	0	0>
			, <&key_physical_attrs	150	100	657	64	0	0	0>
			, <&key_physical_attrs	150	100	657	0	0	0	0>
			, <&key_physical_attrs	100	100	554	-200	0	0	0>
			, <&key_physical_attrs	100	100	554	0	0	0	0>
			, <&key_physical_attrs	100	100	1356	-300	0	0	0>
			, <&key_physical_attrs	100	100	1253	-100	0	0	0>
			, <&key_physical_attrs	100	100	1577	-164	0	0	0>
			, <&key_physical_attrs	100	100	1690	-86	0	0	0>
			, <&key_physical_attrs	150	100	1203	50	0	0	0>
			, <&key_physical_attrs	150	100	1203	0	0	0	0>
			, <&key_physical_attrs	100	100	1356	-200	0	0	0>
			, <&key_physical_attrs	100	100	1356	0	0	0	0>
            ;
    };
};
