config SPI
    default y

if SHIELD_DACTYL_MANUFORM_5x6_LEFT

    config ZMK_KEYBOARD_NAME
        default "DM-5x6(Left)"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL_MANUFORM_5x6_LEFT || SHIELD_DACTYL_MANUFORM_5x6_RIGHT

    config ZMK_SPLIT
        default y

endif

if ZMK_DISPLAY

    # compilation warning: NICE_VIEW  defined without a type
    #config NICE_VIEW
    #    default y

    config NICE_VIEW_WIDGET_STATUS
        default y

endif